<div class="container">

  	<!-- No specification uploaded error notification -->
  	<div ng-if="!isSpecLoaded" class="jumbotron go-spec-message">
		<h2>There is no Specification file loaded in the system. Please, <a href="#/"> Go to the Spec section</a>, and Upload one, to continue to this section.</h2>
	</div>

	<div ng-show="isSpecLoaded">
	  	<!-- Info area -->
		<div class="jumbotron">    
			<h2>Upload your API response file (.json):</h2>
		</div>
		<form name="myApiFileForm">
      		
      		<!-- Upload area -->
			<div name="apiDropbox" ngf-drop ngf-select ng-model="fileApi" class="drop-box" ngf-drag-over-class="'dragover'"
			 ngf-multiple="true" ngf-allow-dir="true" ngf-accept="application/json" ngf-pattern="'.json'">
				Drop .json files here, or click to upload
			</div>
			
      		<!-- Not drag and drop allowed error notification -->
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

      		<!-- Not JSON file error notification -->
			<div class="alert alert-danger" ng-show="myApiFileForm.apiDropbox.$error.pattern && enableApiFileErrorAlerts">
		      <a class="close" aria-label="close" ng-click="removeApiErrorAlerts()">&times;</a>
		      <strong>Error!</strong> The file you tried to upload does not have a .json extension. Please upload a JSON file.
		    </div>

		    <!-- Unknown upload error notification -->
		    <div id="unknown-error" ng-model="uploadError" class="alert alert-danger" ng-show="uploadError && enableApiFileErrorAlerts">
		        <a class="close" aria-label="close" ng-click="removeApiErrorAlerts()">&times;</a>
		        <strong>Error!</strong> There has been an unknown problem uploading the file. Please check the format of it, and try again.
		    </div>

      		<!-- Success file load notification section -->
			<div id="uploaded-file-info" class="alert alert-success" ng-hide="apiFiles.length === 0 || !fileTypeOk">
				<p>File uploaded:</p>
				<ul>
					<li ng-repeat="f in apiFiles track by $index" style="font:smaller; list-style-type: none;">
						<span class="glyphicon glyphicon-file" aria-hidden="true"></span>
						{{f.name}} {{f.$error}} {{f.$errorParam}}
		        		<span class="glyphicon glyphicon-remove remove-file-sym" ng-click="deleteFile(f.name)" aria-hidden="true"></span>
					</li>
				</ul>
			</div>

     		 <!-- Validate button -->
     		<div id="apiresponse-button-container" ng-model="apiResponseLoaded" ng-show="apiResponseLoaded">
				<button type="button" class="btn btn-primary btn-lg" ng-click="validateApiResponse()">Validate</button>
			</div>
		</form>
	</div>	<!-- End of control container -->
</div> <!-- End of main container -->